*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: "Roboto", sans-serif;
  }

.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2% 5%;
    z-index: 10;
}

.navbar_logo{
    width: 100px;
    height: 100%;
}

.brand_logo{
    width: 120%;
    height: 110%;
}

.signin_button {
    background-color: #dc030f;
    border: 1px solid #dc030f;
    color: white;
    padding: 1rem 1.5rem ;
    border-radius: 4px;
}

.hero_image_container{
    width: 100%;
    height: 100vh;
}

.hero_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}